<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiejie.mall.product.mapper.GoodsMapper">
    <resultMap id="goodsInfo" type="com.jiejie.mall.product.model.GoodsInfo">
        <id column="id" property="id"></id>
        <result column="goods_name" property="goodsName"></result>
        <result column="goods_sku" property="goodsSku"></result>
        <result column="goods_price" property="goodsPrice"></result>
        <result column="goods_sell_price" property="goodsSellPrice"></result>
        <result column="goods_imgs" property="goodsImgs"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="status" property="status"></result>
        <result column="description" property="description"></result>
        <result column="product_id" property="productId"></result>
        <result column="stock" property="stock"></result>
    </resultMap>
    <insert id="addGoods" parameterType="com.jiejie.mall.product.model.GoodsInfo">
        insert into mall_goods(goods_name,goods_sku,goods_price,goods_sell_price,goods_imgs,create_time,update_time,status,description,product_id,stock)
        values(#{goodsName},#{goodsSku},#{goodsPrice},#{goodsSellPrice},#{goodsImgs},now(),now(),1,#{description},#{productId},#{stock})
    </insert>
    <select id="findGoodsByPage" resultMap="goodsInfo" parameterType="java.util.Map">
        select * from mall_goods
         <where>
             <if test="goodsName!=null">goods_name=#{goodsName} </if>
             <if test="productId!=null">product_id=#{productId} </if>
             <if test="startTime!=null">
                 <![CDATA[
                     create_time >= #{startTime,jdbcType=DATE}

                  ]]>
             </if>
             <if test="endTime!=null">
                 <![CDATA[
                     create_time >= #{endTime,jdbcType=DATE}

                  ]]>
             </if>
         </where>
         limit #{offset},#{pageSize}
    </select>
    <select id="findGoods" resultMap="goodsInfo" parameterType="com.jiejie.mall.product.model.GoodsInfo">
        select * from mall_goods
        <where>
            <if test="id!=null">
                id = #{id}
            </if>
            <if test="goodsSku!=null">
                and  goods_sku = #{goodsSku}
            </if>
            <if test="goodsName!=null">
                and  goods_name = #{goodsName}
            </if>
            <if test="goodsName!=null">
                and  product_id = #{productId}
            </if>
        </where>
        limit 1;
    </select>
    <!--更新商品信息-->
    <update id="updateGoods" parameterType="com.jiejie.mall.product.model.GoodsInfo">
        update mall_goods
        <trim prefix="set" suffixOverrides=",">
            <if test="goodsName!=null">goods_name=#{goodsName},</if>
            <if test="goodsSku!=null">goods_sku=#{goodsSku},</if>
            <if test="goodsPrice!=null">goods_price=#{goodsPrice},</if>
            <if test="goodsSellPrice!=null">goods_sell_price=#{goodsSellPrice},</if>
            <if test="goodsImgs!=null">goods_imgs=#{goodsImgs},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="description!=null">description=#{description},</if>
            <if test="productId!=null">product_id=#{productId},</if>
            update_time = now()
        </trim>

        WHERE id=#{id}
    </update>
    <update id="deleteGoods" parameterType="java.lang.Integer">
         update mall_goods set status = -1
         where id = #{id}
    </update>
</mapper>
