<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiejie.mall.product.mapper.ProductMapper">
    <resultMap id="productInfo" type="ProductInfo">
        <id column="id" property="id"></id>
        <result column="product_name" property="productName"></result>
        <result column="product_spu" property="productSpu"></result>
        <result column="product_main_img" property="productImg"></result>
        <result column="shop_id" property="shopId"></result>
        <result column="create_time" property="createTime"></result>
        <result column="update_time" property="updateTime"></result>
        <result column="status" property="status"></result>
        <result column="product_cate_id" property="productCateId"></result>
        <result column="product_brand_id" property="productBrandId"></result>
        <result column="description" property="description"></result>

    </resultMap>
    <insert id="addProduct" parameterType="ProductInfo">
        insert into mall_product(product_name,product_spu,product_main_img,shop_id,create_time,update_time,status,product_cate_id,product_brand_id,description)
        values(#{productName},#{productSpu},#{productImg},#{shopId},now(),now(),0,#{productCateId},#{productBrandId},#{description})
    </insert>
    <select id="findProductByPage" resultMap="productInfo" parameterType="Map">
        select * from mall_product
         <where>
             <if test="productName!=null">
                 product_name like CONCAT('%',#{productName},'%' )
             </if>
             <if test="status!=null">and status=#{status} </if>
             <if test="shopId!=null">and shop_id=#{shopId} </if>
             <if test="startTime!=null">
                 and
                 <![CDATA[
                     create_time >= #{startTime,jdbcType=DATE}

                  ]]>
             </if>
             <if test="endTime!=null">
                 and
                 <![CDATA[
                     create_time >= #{endTime,jdbcType=DATE}

                  ]]>
             </if>
         </where>
        LIMIT  #{offset},#{count}
    </select>
    <!-- 根据id查询商品信息-->
    <select id="findProductById" resultMap="productInfo" parameterType="java.lang.Integer">
        select * from mall_product
        where id = #{id}
        limit 1;
    </select>
    <!--更新商品信息-->
    <update id="updateProduct" parameterType="productInfo">
        update mall_product
        <trim prefix="set" suffixOverrides=",">
            <if test="productName!=null">product_name=#{productName},</if>
            <if test="productSpu!=null">product_spu=#{productSpu},</if>
            <if test="productImg!=null">product_main_img=#{productImg},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="discount!=null">discount=#{discount},</if>
            <if test="goodsCateId!=null">goodsCateId=#{goodsCateId},</if>
            <if test="goodsBrandId!=null">goodsBrandId=#{goodsBrandId},</if>
            update_time = now()
        </trim>

        WHERE id=#{id}
    </update>
    <update id="deleteProduct" parameterType="java.lang.Integer">
         update mall_product set status = -1
         where id = #{id}
    </update>
</mapper>
