<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiejie.mall.member.mapper.MemberMapper">
    <insert id="addMember" parameterType="MemberInfo">
        insert into mall_member(member_name,password,create_time)values("18312483564","123456","201-10-04")
    </insert>
    <select id="findMemberByName" resultType="MemberInfo" parameterType="java.lang.String">
        select member_name as memberName,password from mall_member
        <where>
            <if test="memberName!=null">
                memberName=#{memberName}
            </if>
        </where>
        limit 1;
    </select>
    <!--更新会员信息-->
    <update id="updateMember" parameterType="MemberInfo">
        update mall_member
        <trim prefix="set" suffixOverrides=",">
            <if test="memberName!=null">member_name=#{memberName},</if>
            <if test="password!=null">password=#{password},</if>
        </trim>
        WHERE id=#{id}
    </update>
    <update id="deleteMember" parameterType="java.lang.Integer">
         update mall_member set deleted = 1
    </update>
</mapper>
