<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiejie.mall.brand.mapper.BrandMapper">
    <resultMap id="brandInfo" type="com.jiejie.mall.brand.model.BrandInfo">
        <id column="id" property="id"></id>
        <result column="brand_name" property="brandName"></result>
        <result column="brand_desc" property="desc"></result>
        <result column="brand_img" property="img"></result>
       </resultMap>
    <insert id="addBrand" parameterType="com.jiejie.mall.brand.model.BrandInfo">
        insert into mall_product_brand(brand_name,brand_desc,brand_img,status)
        values(#{brandName},#{desc},#{img},1)
    </insert>
    <select id="findBrandByPage" resultMap="brandInfo" parameterType="java.util.Map">
        select * from mall_product_brand
         <where>
             <if test="brandName!=null">brand_name = #{brandName} </if>
         </where>
         limit #{currenPage-1}*#{pageSize},#{currenPage}*#{pageSize}
    </select>
    <select id="findBrandByName" resultMap="brandInfo" parameterType="String">
        select * from mall_product_brand where
        brand_name = #{brandName} limit 1;
    </select>
    <!-- 根据id查询商品信息-->
    <select id="findBrandById" resultMap="brandInfo" parameterType="java.lang.Integer">
        select * from mall_product_brand
        where id = #{id}
        limit 1;
    </select>
    <select id="count"  parameterType="java.util.Map">
        select count(1) from mall_product_brand
        <where>
            <if test="brandName!=null">brand_name = #{brandName} </if>
        </where>

    </select>
    <!--更新商品信息-->
    <update id="updateBrand" parameterType="com.jiejie.mall.brand.model.BrandInfo">
        update mall_product_brand
        set brand_name= #{brandName},
        update_time = now()
        WHERE id=#{id}
    </update>
    <update id="deleteBrand" parameterType="List">
         update mall_product_brand set deleted = 1
        <where>
            id in
            <foreach collection="list" item="id" separator="," close=")" open="(">
                id
            </foreach>
        </where>
    </update>
</mapper>
