<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiejie.mall.member.mapper.BrandMapper">
    <resultMap id="brandInfo" type="BrandInfo">
        <id column="id" property="id"></id>
        <result column="brand_name" property="brandName"></result>
        <result column="brand_desc" property="brandDesc"></result>
       </resultMap>
    <insert id="addBrand" parameterType="brandInfo">
        insert into mall_brand(brandName,brandDesc)
        values(#{brandName},#{brandDesc})
    </insert>
    <select id="findBrandByPage" resultMap="brandInfo" parameterType="java.util.Map">
        select * from mall_brand
         <where>
             <if test="brandName!=null">brand_name = #{brandName} </if>
         </where>
         limit #{currenPage-1}*#{pageSize},#{currenPage}*#{pageSize}
    </select>
    <!-- 根据id查询商品信息-->
    <select id="findBrandById" resultMap="brandInfo" parameterType="java.lang.Integer">
        select * from mall_brand
        where id = #{id}
        limit 1;
    </select>
    <select id="count"  parameterType="java.util.Map">
        select count(1) from mall_order
        <where>
            <if test="brandName!=null">brand_name = #{brandName} </if>
        </where>

    </select>
    <!--更新商品信息-->
    <update id="updateBrand" parameterType="brandInfo">
        update mall_brand
        set brand_name= #{brandName},
        update_time = now()
        WHERE id=#{id}
    </update>
    <update id="deleteBrand" parameterType="java.lang.Integer">
         update mall_brand set deleted = 1
         where id = #{id}
    </update>
</mapper>
