<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiejie.mall.order.mapper.GoodsOrderMapper">
    <resultMap id="goodsOrderInfo" type="com.jiejie.mall.order.model.GoodsOrderInfo">
        <id column="id" property="id"></id>
        <result column="good_order_sn" property="goodOrderSn"></result>
        <result column="order_sn" property="orderSn"></result>
        <result column="product_name" property="productName"></result>
        <result column="sku" property="sku"></result>
        <result column="price" property="price"></result>
        <result column="sell_price" property="sellPrice"></result>
        <result column="discount" property="discount"></result>
        <result column="count" property="count"></result>
        <result column="total_money" property="totalMoney"></result>
        <result column="goods_img" property="goodsImg"></result>
        <result column="update_time" property="createTime"></result>
    </resultMap>
    <!--添加网单信 -->
    <insert id="addGoodsOrder" parameterType="com.jiejie.mall.order.model.GoodsOrderInfo">
        insert into mall_goods_order(goods_order_sn,order_sn,product_name,sku,price,sell_price,discount,count,total_money,goods_img,create_time)
        values(#{goodOrderSn},#{orderSn},#{productName},#{sku},#{price},#{sellPrice},#{discount},#{count},#{totalMoney},#{goodsImg},#{createTime})
    </insert>
    <insert id="addGoodsOrders" parameterType="java.util.List">
        insert into mall_goods_order(goods_order_sn,order_sn,product_name,sku,price,sell_price,discount,count,total_money,goods_img,create_time)
        values
        <foreach collection="list" separator="," item="goodsOrder">
        ( #{goodsOrder.goodOrderSn},#{goodsOrder.orderSn},#{goodsOrder.productName},#{goodsOrder.sku},#{goodsOrder.price},#{goodsOrder.sellPrice},#{goodsOrder.discount},#{goodsOrder.count},#{goodsOrder.totalMoney},#{goodsOrder.goodsImg},now() )
        </foreach>
    </insert>
    <select id="findGoodsOrderByPage" resultMap="goodsOrderInfo" parameterType="java.util.Map">
        select * from mall_goodsOrder
         <where>
             <if test="goodOrderSn!=null">goodOrderSn=#{goodOrderSn} </if>
             <if test="productName!=null"> and product_name=#{productName} </if>
             <if test="startTime!=null">
                 <![CDATA[
                     create_time >= #{startTime,jdbcType=DATE}

                  ]]>
             </if>
             <if test="endTime!=null">
                 <![CDATA[
                     create_time >= #{endTime,jdbcType=DATE}

                  ]]>
             </if>
         </where>
         limit #{currenPage-1}*#{pageSize},#{currenPage}*#{pageSize}
    </select>
    <!-- 根据id查询商品信息-->
    <select id="findGoodsOrderById" resultMap="goodsOrderInfo" parameterType="java.lang.Integer">
        select * from mall_goodsOrder
        where id = #{id}
        limit 1;
    </select>
    <select id="count"  parameterType="java.util.Map">
        select count(1) from mall_goodsOrder
        <where>
            <if test="goodOrderSn!=null">goodOrderSn=#{goodOrderSn} </if>
            <if test="productName!=null"> and product_name=#{productName} </if>
            <if test="startTime!=null">
                <![CDATA[
                     create_time >= #{startTime,jdbcType=DATE}

                  ]]>
            </if>
            <if test="endTime!=null">
                <![CDATA[
                     create_time >= #{endTime,jdbcType=DATE}

                  ]]>
            </if>
        </where>

    </select>

    <update id="deleteGoodsOrder" parameterType="java.lang.Integer">
         update mall_goodsOrder set deleted = 1
         where id = #{id}
    </update>
</mapper>
