<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiejie.mall.member.mapper.GoodsOrderMapper">
    <resultMap id="goodsOrderInfo" type="GoodsOrderInfo">
        <id column="id" property="id"></id>
        <result column="goodOrderSn" property="goodOrderSn"></result>
        <result column="product_name" property="productName"></result>
        <result column="price" property="price"></result>
        <result column="count" property="count"></result>
        <result column="total_money" property="totalMoney"></result>
        <result column="reciever" property="reciever"></result>
        <result column="reciever_iphone" property="recieverPhone"></result>
        <result column="shop_id" property="shopId"></result>
        <result column="update_time" property="createTime"></result>

    </resultMap>
    <!--添加网单信 -->
    <insert id="addGoodsOrder" parameterType="GoodsOrderInfo">
        insert into mall_goodsOrder(goodOrderSn,product_name,price,count,total_money,reciever,reciever_iphone,update_time)
        values(#{goodOrderSn},#{productName},#{price},#{count},#{totalMoney},#{reciever},#{recieverPhone},#{shopId},#{createTime})
    </insert>
    <select id="findGoodsOrderByPage" resultMap="goodsOrderInfo" parameterType="java.util.Map">
        select * from mall_goodsOrder
         <where>
             <if test="goodOrderSn!=null">goodOrderSn=#{goodOrderSn} </if>
             <if test="productName!=null"> and product_name=#{productName} </if>
             <if test="startTime!=null">
                 <![CDATA[
                     create_time >= #{startTime,jdbcType=DATE}

                  ]]>
             </if>
             <if test="endTime!=null">
                 <![CDATA[
                     create_time >= #{endTime,jdbcType=DATE}

                  ]]>
             </if>
         </where>
         limit #{currenPage-1}*#{pageSize},#{currenPage}*#{pageSize}
    </select>
    <!-- 根据id查询商品信息-->
    <select id="findGoodsOrderById" resultMap="goodsOrderInfo" parameterType="java.lang.Integer">
        select * from mall_goodsOrder
        where id = #{id}
        limit 1;
    </select>
    <select id="count"  parameterType="java.util.Map">
        select count(1) from mall_goodsOrder
        <where>
            <if test="goodOrderSn!=null">goodOrderSn=#{goodOrderSn} </if>
            <if test="productName!=null"> and product_name=#{productName} </if>
            <if test="startTime!=null">
                <![CDATA[
                     create_time >= #{startTime,jdbcType=DATE}

                  ]]>
            </if>
            <if test="endTime!=null">
                <![CDATA[
                     create_time >= #{endTime,jdbcType=DATE}

                  ]]>
            </if>
        </where>

    </select>

    <update id="deleteGoodsOrder" parameterType="java.lang.Integer">
         update mall_goodsOrder set deleted = 1
         where id = #{id}
    </update>
</mapper>
