<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiejie.mall.member.mapper.GoodsMapper">
    <resultMap id="orderInfo" type="OrderInfo">
        <id column="id" property="id"></id>
        <result column="orderSn" property="orderSn"></result>
        <result column="sku" property="productName"></result>
        <result column="price" property="totalMoney"></result>
        <result column="sell_price" property="status"></result>
        <result column="goods_imgs" property="reciever"></result>
        <result column="create_time" property="recieverPhone"></result>
        <result column="update_time" property="createTime"></result>

    </resultMap>
    <insert id="addProduct" parameterType="GoodsInfo">
        insert into mall_goods(good_name,sku,price,sell_price,goods_imgs,create_time,update_time)
        values(#{goodsName},#{sku},#{goodsPrice},#{goodsSellPrice},#{goodsImgs},#{createTime},#{updateTime})
    </insert>
    <select id="findGoodsByPage" resultMap="goodsInfo" parameterType="java.util.Map">
        select * from mall_goods
         <where>
             <if test="goodsName!=null">goods_name=#{goodsName} </if>
             <if test="sku!=null"> and sku=#{sku} </if>
             <if test="startTime!=null">
                 <![CDATA[
                     create_time >= #{startTime,jdbcType=DATE}

                  ]]>
             </if>
             <if test="endTime!=null">
                 <![CDATA[
                     create_time >= #{endTime,jdbcType=DATE}

                  ]]>
             </if>
         </where>
         limit #{currenPage-1}*#{pageSize},#{currenPage}*#{pageSize}
    </select>
    <!-- 根据id查询商品信息-->
    <select id="findGoodsById" resultMap="goodsInfo" parameterType="java.lang.Integer">
        select * from mall_goods
        where id = #{id}
        limit 1;
    </select>
    <select id="count"  parameterType="java.util.Map">
        select count(1) from mall_goods
        <where>
            <if test="goodsName!=null">goods_name=#{goodsName} </if>
            <if test="sku!=null"> and sku=#{sku} </if>
            <if test="startTime!=null">
                <![CDATA[
                     create_time >= #{startTime,jdbcType=DATE}

                  ]]>
            </if>
            <if test="endTime!=null">
                <![CDATA[
                     create_time >= #{endTime,jdbcType=DATE}

                  ]]>
            </if>
        </where>

    </select>
    <!--更新商品信息-->
    <update id="updateGoods" parameterType="goodsInfo">
        update mall_product
        <trim prefix="set" suffixOverrides=",">
            <if test="goodsName!=null">goods_name=#{goodsName},</if>
            <if test="sku!=null">sku=#{sku},</if>
            <if test="price!=null">price=#{price},</if>
            <if test="sell_price!=null">goodsSellPrice=#{sell_price},</if>
            <if test="goods_imgs!=null">goods_imgs=#{goodsImgs},</if>
            update_time = now()
        </trim>

        WHERE id=#{id}
    </update>
    <update id="deleteGoods" parameterType="java.lang.Integer">
         update mall_goods set deleted = 1
         where id = #{id}
    </update>
</mapper>
