<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiejie.mall.order.mapper.OrderMapper">
    <resultMap id="orderInfo" type="com.jiejie.mall.order.model.OrderInfo">
        <id column="id" property="id"></id>
        <result column="orderSn" property="orderSn"></result>
        <result column="total_money" property="totalMoney"></result>
        <result column="status" property="status"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>
    <insert id="addOrder" parameterType="com.jiejie.mall.order.model.OrderInfo">
        insert into mall_order(order_sn,total_money,product_id,shop_id,member_id,status,create_time)
        values(#{orderSn},#{totalMoney},#{productId},#{shopId},#{memberId},0,now())
    </insert>
    <select id="findOrderByPage" resultMap="orderInfo" parameterType="java.util.Map">
        select * from mall_order
         <where>
             <if test="orderSn!=null">orderSn=#{orderSn} </if>
             <if test="startTime!=null">
                 <![CDATA[
                     create_time >= #{startTime,jdbcType=DATE}

                  ]]>
             </if>
             <if test="endTime!=null">
                 <![CDATA[
                     create_time >= #{endTime,jdbcType=DATE}

                  ]]>
             </if>
         </where>
         limit #{currenPage-1}*#{pageSize},#{currenPage}*#{pageSize}
    </select>
    <!-- 根据id查询商品信息-->
    <select id="findOrderById" resultMap="orderInfo" parameterType="java.lang.Integer">
        select * from mall_order
        where id = #{id}
        limit 1;
    </select>
    <select id="count"  parameterType="java.util.Map">
        select count(1) from mall_order
        <where>
            <if test="orderSn!=null">orderSn=#{orderSn} </if>
            <if test="startTime!=null">
                <![CDATA[
                     create_time >= #{startTime,jdbcType=DATE}

                  ]]>
            </if>
            <if test="endTime!=null">
                <![CDATA[
                     create_time >= #{endTime,jdbcType=DATE}

                  ]]>
            </if>
        </where>

    </select>
    <!--更新商品信息-->
    <update id="updateOrder" parameterType="com.jiejie.mall.order.model.OrderInfo">
        update mall_order
        set status = #{status},
        update_time = now()


        WHERE id=#{id}
    </update>
    <update id="deleteGoods" parameterType="java.lang.Integer">
         update mall_order set deleted = 1
         where id = #{id}
    </update>
</mapper>
